extends layout
include _includes/sharedHTMLfunctions

block content
  .row.banner
    .col-12.text-center   
      
      p Your personal learning companion.

  // Main Content Area
  .row
    .col-12.col-md-8
      
      .card
        .card-block
          h4
            a(href='/location') Physics Wallah 
          .row
            .col-6
              p.facilities
                span.badge.badge-warning India's top online ed-tech platform
                br
                
                
                span.badge.badge-warning -JEE MAINS
                br
                span.badge.badge-warning -JEE ADVANCE
                br
                span.badge.badge-warning -BITSAT 
                
            .col-6
              img(src="https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/d9/db/c0/d9dbc014-a991-f93f-fc9e-24d0716c8363/AppIcon-0-0-1x_U007epad-0-0-85-220.png/1200x630wa.png", class="img-fluid")

      
      .card
        .card-block
          h4
            a(href='/Vedantu') Vedantu
          .row
            .col-6
              p.facilities
                 span.badge.badge-warning Leading Online tutoring company  
                 br
                 span.badge.badge-warning -K1-K12 Classes
                 br
                 span.badge.badge-warning -NEET
                 br
                 span.badge.badge-warning -EAMCET

            .col-6
              img(src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Vedantulogo_orange.png", class="img-fluid")

     
      .card
        .card-block
          h4
            a(href='/BYJUS') BYJU'S
          .row
            .col-6
              p.facilities
                span.badge.badge-warning Learning programs for students of all ages
                br
                span.badge.badge-warning -Coding
                br
                span.badge.badge-warning -Expert Maths
                br
                span.badge.badge-warning -Grade1-Grade12 Classes
                
            .col-6
              img(src="https://logos-world.net/wp-content/uploads/2021/08/Byjus-Logo.png",class="img-fluid")

      
      

    